<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Flask Application {%endblock%}</title>
</head>
<body>
    <h1>Application</h1>
    <header>
        <nav>
            <a href="./">Home</a>
            <a href="./about">About</a>
            <a href="./contact">Contact</a>
        </nav>
    </header>
    <hr>
    <div>
        {%block content%}
        {%endblock%}
    </div>
    <hr>
    <footer>
        <p>This is my first website @2026</p>
    </footer>
</body>
</html>