<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>PLease Create your Account</h1>
    <form action="/create" method="post">
        Enter Your Account No: <input type="number" name="acc_no" id="" required> <br><br>
        Enter Your Name: <input type="text" name="name" id="" required> <br><br>
        Enter Initial Balance: <input type="number" name="balance" id="" required> <br><br>
        <input type="submit" value="Create Account">
    </form>
</body>
</html>